<section>
		<h3>Not Your Typical Career Site</h3>
		<p>
			Rather than your typical job board or career site, this
			application stands apart because it is designed to assist
			the <span>USER</span> by giving them insight into what is going
			on in his or her own industry and career path to use when making
			big career decisions. Rather than benefiting recruiters and
			employers who have a profit-motive to offer you the least pay for
			the positions that they want you to take, rather than the best fit for you.
		</p>
</section>
<section class="quote">
		<blockquote>
			"Luck is the point where preperation meets opportunity"<br>
			<cite>-Seneca</cite>
		</blockquote>
</section>
<section>
		<h3>Your information is protected</h3>
		<p>
			Share as much career and education information as you want
			with Life Career Path knowing that it is safe and protected. Other
			users will not be able to see your personal data. The application
			uses broad/general data from users to give the community greater insights
			into certain industries.
		</p>
</section>
