<section>
		<h3>Not Your Typical Career Site</h3>
		<p>
			Rather than your typical job board or career site, this
			application stands apart because it is designed to assist
			the <span>USER</span> by giving them insight into what is going
			on in his or her own industry and career path to use when making
			big career decisions. Rather than benefiting recruiters and
			employers who have a profit-motive to offer you the least pay for
			the positions that they want you to take, rather than the best fit for you.
		</p>
</section>
<section class="quote">
		<blockquote>
			"Luck is the point where preperation meets opportunity"<br>
			<cite>-Seneca</cite>
		</blockquote>
</section>
<section>
		<h3>Log-in</h3>
		<form action="http://127.0.0.1:3000/log-in" method="GET">
			<label for="username">Username: <input type="text" name="username"></label>
			<label for="username">Password: <input type="password" name="password"></label>
			<input type="submit">
		</form>
		<h3>Sign-up</h3>
		<form action="http://127.0.0.1:3000/sign-up" method="POST">
			<label for="username">Username: <input type="text" name="username"></label>
			<label for="username">Password: <input type="password" name="password"></label>
			<input type="submit">
		</form>
</section>
