<main class="limit-width">
  <section>
    <h3>Welcome to Your Life Career Path</h3>
    <p>
      This is your personal career management application.
      Think of it like your own personal career counselor
      you can go to when you need some guidance and direction
      in various career-related situations such as choosing
      your training/education, finding a job, getting a promotion,
      and managing a job/career change.
    </p>
    <h3>Click on one of the button areas below to get started.</h3>
  </section>
  <section class="container">
    <a href="#/path">
      <img src="textures/choosepath.jpg">
      <h5>Choose Your Path</h5>
      <p>
        The information and resources available to you here
        will help you to discover, choose, and manage the
        career path that is right for you.
      </p>
    </a>
    <a href="#/dash">
      <img src="textures/dash.png">
      <h5>Career Dashboard</h5>
      <p>
        Access to your career dashboard to find useful information about your career from
        high school to retirement. Charts and graphs...
      </p>
    </a>
    <a href="#/manage" class="bottom-article">
      <img src="textures/stress.jpg">
      <h5>Manage Stress</h5>
      <p>
        Reduce stress and save time when managing your
        career related activities by using the helpful
        tools provided here. Personality test, Attribute test, ...
      </p>
    </a>
  <section>
</main>
